@import url(https://fonts.google.com/specimen/Space+Mono);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    border: ;
}
body{
  background-color:  hsl(185, 41%, 84%);
  font-size: 17px;
  font-family: Space Mono;
}

.logo{
   text-align: center;
   margin: 70px 0 50px;
   
   }
 
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 42%;
    background-color: white;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}
.card_input{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
.bill_label{
    margin-bottom: 15px;
}
.input_bill{
    margin-bottom: 15px;
}
.Tip_label{
    margin-bottom: 15px;
}
.card_input input{
    width: 15rem;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    border: 2px solid white;
    text-align: right;
    padding-right: 5px;
    outline: none;
    color:  hsl(183, 100%, 15%);
    border-radius: 8px;
}
.card_input input[type='text']{
    font-size: 24px;
    font-weight: bold;
}
.card_input input:focus {
    border-color: hsl(172, 67%, 45%)
  }
.card_input .input_Tips{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding-right: 14px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    cursor: pointer;
  
    
}

.input_Tips .btn{
    background-color: hsl(183, 100%, 15%);
    border-radius: 4px;
    height: 30px;
    padding-top: 6px;
}

.input_Tips .btn-active {
    background-color:  hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
.input_Tips input{
    width: 4rem;
    color: hsl(183, 100%, 15%);
    
    
}
.input_Tips input[type="text"]{
    font-size: 15px;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
    padding: 4px;
   }
.Select_people input:focus {
    border-color: red;
  }

.people_lables{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    padding-right: 5px;
}
.error_mssg{
    color: red;
    font-size: 15px;
    opacity: 0;
}
.show-error-msg {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
.card .output{
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    color: white;
    margin: auto;
    padding-bottom: 20px;
}
.line-output{
    display: flex;
    justify-content: space-between;
     padding: 30px 20px 0 20px;
}
.title{
    font-weight: bold;
}
.desc{
    color: rgb(160, 155, 155);
}
.value{
    color: hsl(172, 67%, 45%) ;;
    font-size: 25px;
    font-weight: bold;
}
.reset{
    margin: 4rem 20px 0 20px;
   text-align: center;
   background-color: hsl(172, 67%, 45%);
   width: 13rem;
   height: 29px;
   border-radius: 5px;
   text-transform: uppercase;
  transform: (-50%,-50%);
  padding-top: 4px;
  color: hsl(183, 100%, 15%);

}
@media (max-width: 600px) {

    .card{
        
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin-bottom: 40px;
    }
    .card_input .input_Tips{
       
        grid-template-columns: repeat(2,1fr);
       
    }
   
    .card_input input{
        width: 20rem;
        height: 50px;
    }
    .input_Tips input{
        width: 4rem;
        
        
        
    }
}
@media  (min-width:768px) and (max-width: 1024px) {
    .card{
        
        
        width: 80%;
        
    }
    .card_input input{
        width: 23rem;
        height: 50px;

       
}
}